<footer>
    <p>&copy; 2024 Meu Site - Todos os direitos reservados <br> <br>
              Telefone para Contato: 11 4002-8922 <br> <br>
              Central de Reclamações: ticketinnovatorsreclame@hotmail.com
    </p>
  </footer>