<header>
    <div class="logo"><a href="/admin"><img src="/img/logoPng.png" alt=""></a></div>
    <div class="menu">
        <a href="/vender">Cadastrar Ingresso</a>
        <a href="/admin">Home</a>
    </div>
  </header>