<header>
  <div class="logo"><a href="/logado"><img src="/img/logoPng.png" alt=""></a></div>
  <div class="menu">
      <a href="/logado">Home</a> 
      <a href="/perfil">Meu Perfil</a>
      <a href="/pedidos"><img class="carrinho" src="/img/compra.png" alt=""></a>
  </div>
</header>